<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <description>로깅 여부</description>
        <param-name>logEnabled</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <description>디버깅 레벨</description>
        <param-name>debugLevel</param-name>
        <param-value>5</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/chap06/error/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/chap06/error/error500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/chap06/error/viewErrorMessage.jsp</location>
    </error-page>
    
    <jsp-config>
        <jsp-property-group>
            <!-- property 를 적용할 JSP 파일의 URL 패턴 지정 -->
            <url-pattern>/chap07/ex5/autoInclude.jsp</url-pattern>
            <!-- url-pattern 태그에서 지정한 패턴에 해당되는 JSP 파일의 앞에 자동으로 삽입될 파일 지정 -->
            <include-prelude>/chap07/ex5/variable.jspf</include-prelude>
            <!-- url-pattern 태그에서 지정한 패턴에 해당되는 JSP 파일의 뒤에 자동으로 삽입될 파일 지정 -->
            <include-coda>/chap07/ex5/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>

</web-app>